@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jacquard+12&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss";

:root {
  --yellow: #fa9500;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: -0.01em;
}

span.md-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

#filipi {
  animation: float 3000ms ease-in-out infinite;
}

#filipi-div {
  animation: rotate 5000ms ease-in-out infinite;
}

#interests-grid {
  display: grid;
  gap: 8px;

  width: 100%;
  height: auto;
  /* aspect-ratio: 12 / 9; */

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);

  grid-template-areas:
    "a a a b b b c c c c d d"
    "a a a b b b c c c c d d"
    "a a a b b b c c c c e e"
    "f f f f f f c c c c e e"
    "f f f f f f c c c c e e"
    "f f f f f f c c c c e e"
    "g g g g h h h h h h h h"
    "g g g g h h h h h h h h"
    "g g g g h h h h h h h h";

  overflow: hidden;
}

@media (width <= 50rem) {
  #interests-grid {
    aspect-ratio: auto;
    height: auto;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "a"
      "b"
      "c"
      "f"
      "g"
      "h";
  }

  .box[data-area="d"],
  .box[data-area="e"] {
    display: none;
  }
}

.box {
  @apply border-2 border-amber-500 rounded-[36px] p-4 overflow-hidden flex flex-col transition-all ease-in;
}

.box:hover {
  @apply scale-98 shadow-lg;
}

.box img {
  object-fit: contain;
}

.box h3 {
  @apply font-bold text-amber-500 text-lg mt-auto!;
}

.box p {
  @apply text-[16px] leading-[1] text-justify tracking-normal;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}

@keyframes float-light {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

@keyframes throw {
  100% {
    transform: rotate(40deg) scale(0.1) translate(100px, -300px);
    opacity: 0;
  }
}
